@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

  
  .button-image {
    transition: transform 0.3s ease-in-out; /* Define the transition effect */
    min-width: 20px;
    min-height: 20px;
    width: 30px; /* Set the width of the image */
    height: 30px; /* Set the height of the image */
  }
  
  .button-image:hover {
    transform: translateY(8px); /* Apply transform on hover */
  }
  
